<h2>Password Recovery <small>Forget it somehow? Recover it here!</small></h2>

<form action="<?php echo SITE_URL . 'forgot'; ?>" method="POST">
    <div class="form-group has-feedback">
        <label for="forgot-email" class="control-label">Email Address</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" id="forgot-email" placeholder="" name="email-address" value="">
        </div>
    </div>

    <button type="submit" name="form" value="forgot" class="btn btn-primary"><i class="fa fa-lock" aria-hidden="true"></i> Recover Password</button>
</form>