<h2>Register <small>Come join the site!</small></h2>

<form action="<?php echo SITE_URL . 'register' ?>" method="POST">
    <div class="form-group has-feedback">
        <label for="register-user" class="control-label">Username</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" id="register-user" name="username" value="<?php echo $forms->register->username; ?>">
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="register-email" class="control-label">Email Address</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" id="register-email" name="email" value="<?php echo $forms->register->email; ?>">
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="register-password" class="control-label">Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" id="register-password" name="password" value="">
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="register-confirm-password" class="control-label">Confirm Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" id="register-confirm-password" name="confirm-password" value="">
        </div>
    </div>

    <button type="submit" name="form" value="register" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button>
</form>