<h2>Categories <small>Add New Categories</small></h2>

<form action="<?php echo SITE_URL . 'admin' ?>" method="POST">
    <div class="form-group has-feedback">
        <label for="create-category-name" class="control-label">Name</label>
        <input type="text" class="form-control" id="create-category-name" placeholder="Name of Category" name="name" value="<?php echo $forms->createCategory->name; ?>">
    </div>

    <div class="form-group has-feedback">
        <label for="create-category-meta" class="control-label">Meta Tags</label>
        <input type="text" class="form-control" id="create-category-meta" placeholder="Ex. cars,sports,games" name="meta" value="<?php echo $forms->createCategory->meta; ?>">
    </div>

    <div class="form-group has-feedback">
        <label for="create-category-color" class="control-label">Primary Color</label>
        <input type="text" class="pick-a-color form-control" id="create-category-primary-color" placeholder="" name="primary-color" value="<?php echo $forms->createCategory->primaryColor; ?>">
    </div>

    <div class="form-group has-feedback">
        <label for="create-category-icon" class="control-label">Icon</label>
        <div class="input-group">
            <input type="text" class="form-control" id="create-category-icon" placeholder="fa fa-star" name="icon" value="<?php echo $forms->createCategory->icon; ?>">
            <span class="input-group-addon" id="create-category-icon-preview"><i class="<?php echo $forms->createCategory->icon; ?>"></i></span>
        </div>
    </div>

    <button type="submit" name="form" value="create-category" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Category</button>
</form>