<h2>Articles <small>Edit/Remove Article</small></h2>

<form action="<?php echo SITE_URL . 'admin' ?>" method="POST">
    <div class="form-group has-feedback">
        <label for="edit-article-id" class="control-label">Article</label>
        <div class="input-group">
            <select class="form-control" id="edit-article-id" name="id" <?php if ( empty($articles) ) { ?> disabled <?php } ?> >
                <option></option>
                <?php foreach( $articles as $article ) { ?>
                    <option value="<?php echo $article->articleId; ?>"><?php echo $article->title; ?> - Posted on <?php echo $article->dateAdded; ?></option>
                <?php } ?>
            </select>

            <div class="input-group-btn">
                <button type="button" class="btn btn-primary select-edit-article"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger select-remove-article"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

    <hr>

    <div id="edit-article-pane" style="display:none;">
        <div class="form-group has-feedback">
            <label for="edit-article-title" class="control-label">Title</label>
            <input type="text" class="form-control" id="edit-article-title" placeholder="Title of Article" name="title" value="">
        </div>

        <div class="form-group has-feedback">
            <label for="edit-article-category" class="control-label">Category</label>
            <div class="input-group">
                <select class="form-control" id="edit-article-category" name="category" <?php if ( empty($categories) ) { ?> disabled <?php } ?> >
                    <option value=""></option>
                    <?php foreach( $categories as $category ) { ?>
                        <option value="<?php echo $category->categoryId; ?>" ><?php echo $category->name; ?></option>
                    <?php } ?>
                </select>

                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary select-add-category"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label for="edit-article-content" class="control-label">Content</label>
            <textarea class="form-control" id="edit-article-content" rows="4" placeholder="Content of Article" name="content" style="resize:none;"></textarea>
        </div>

        <button type="button" class="btn btn-danger btn-remove-article"><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
        <button type="submit" name="form" value="edit-article" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Confirm</button>
    </div>
</form>