<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-article">
            <h4 class="panel-title"><i class="fa fa-newspaper-o fa-fw fa-lg" aria-hidden="true"></i> Articles</h4>
        </div>
        <div id="collapse-article" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#article-add" data-toggle="tab"><i class="fa fa-plus fa-fw fa-lg" aria-hidden="true"></i> Add New Articles</a>
                <a class="list-group-item" href="#article-edit" data-toggle="tab"><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i> Edit/Remove Articles</a>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-category">
            <h4 class="panel-title"><i class="fa fa-tags fa-fw fa-lg" aria-hidden="true"></i> Categories</h4>
        </div>
        <div id="collapse-category" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#category-add" data-toggle="tab"><i class="fa fa-plus fa-fw fa-lg" aria-hidden="true"></i> Add New Categories</a>
                <a class="list-group-item" href="#category-edit" data-toggle="tab"><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i> Edit/Remove Categories</a>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-social">
            <h4 class="panel-title"><i class="fa fa-twitter fa-fw fa-lg" aria-hidden="true"></i> Social Networking</h4>
        </div>
        <div id="collapse-social" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#social-facebook" data-toggle="tab"><i class="fa fa-facebook-square fa-fw fa-lg" aria-hidden="true"></i> Facebook</a>
                <a class="list-group-item" href="#social-twitter" data-toggle="tab"><i class="fa fa-twitter-square fa-fw fa-lg" aria-hidden="true"></i> Twitter</a>
                <a class="list-group-item" href="#social-linkedin" data-toggle="tab"><i class="fa fa-linkedin-square fa-fw fa-lg" aria-hidden="true"></i> Linkedin</a>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-script">
            <h4 class="panel-title"><i class="fa fa-cogs fa-fw fa-lg" aria-hidden="true"></i> Site Maintenance</h4>
        </div>
        <div id="collapse-script" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#maintenance-scripts" data-toggle="tab"><i class="fa fa-upload fa-fw fa-lg" aria-hidden="true"></i> Execute Scripts</a>
            </ul>
        </div>
    </div>
</div>