<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-article">
            <h4 class="panel-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Articles</h4>
        </div>
        <div id="collapse-article" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#article-add" data-toggle="tab"><i class="fa fa-plus" aria-hidden="true"></i> Add New Articles</a>
                <a class="list-group-item" href="#article-edit" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i> Edit/Remove Articles</a>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-category">
            <h4 class="panel-title"><i class="fa fa-tags" aria-hidden="true"></i> Categories</h4>
        </div>
        <div id="collapse-category" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#category-add" data-toggle="tab"><i class="fa fa-plus" aria-hidden="true"></i> Add New Categories</a>
                <a class="list-group-item" href="#category-edit" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i> Edit/Remove Categories</a>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-social">
            <h4 class="panel-title"><i class="fa fa-twitter" aria-hidden="true"></i> Social Networking</h4>
        </div>
        <div id="collapse-social" class="panel-collapse collapse">
            <ul class="list-group">
                <a class="list-group-item" href="#social-facebook" data-toggle="tab"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                <a class="list-group-item" href="#social-twitter" data-toggle="tab"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                <a class="list-group-item" href="#social-linkedin" data-toggle="tab"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
            </ul>
        </div>
    </div>
</div>