<style>
    .list-group-item {
        padding-left:30px;
    }

    a:hover {
        text-decoration: none !important;
    }

    .panel-heading:hover {
        cursor: pointer;
    }
</style>

<script>

</script>

<div class="row">
    <div class="col-xs-3">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#collapse-article">
                    <h4 class="panel-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Articles</h4>
                </div>
                <div id="collapse-article" class="panel-collapse collapse">
                    <ul class="list-group">
                        <a class="list-group-item" href="#article-add" data-toggle="tab"><i class="fa fa-plus" aria-hidden="true"></i> Add New Articles</a>
                        <a class="list-group-item" href="#article-edit" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i> Edit/Remove Articles</a>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#collapse-category">
                    <h4 class="panel-title"><i class="fa fa-tags" aria-hidden="true"></i> Categories</h4>
                </div>
                <div id="collapse-category" class="panel-collapse collapse">
                    <ul class="list-group">
                        <a class="list-group-item" href="#category-add" data-toggle="tab"><i class="fa fa-plus" aria-hidden="true"></i> Add New Categories</a>
                        <a class="list-group-item" href="#category-edit" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i> Edit/Remove Categories</a>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#collapse-social">
                    <h4 class="panel-title"><i class="fa fa-twitter" aria-hidden="true"></i> Social Networking</h4>
                </div>
                <div id="collapse-social" class="panel-collapse collapse">
                    <ul class="list-group">
                        <a class="list-group-item" href="#social-facebook" data-toggle="tab"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                        <a class="list-group-item" href="#social-twitter" data-toggle="tab"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                        <a class="list-group-item" href="#social-linkedin" data-toggle="tab"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-9">
        <div class="tab-content">
            <div id="welcome" class="tab-pane fade in active">
                <div class="well text-center">
                    <strong>Administrator Panel</strong>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at gravida leo, eu fermentum tortor. Maecenas scelerisque metus eu arcu rhoncus, eget pretium augue sollicitudin. Maecenas feugiat, lorem quis consequat tempus, sem urna commodo lorem, id pellentesque odio urna non neque. Quisque nisi elit, luctus id sem vitae, finibus vulputate dolor. Sed maximus dapibus rhoncus. Vestibulum congue hendrerit facilisis. Integer nec mauris mi. Quisque sem lorem, euismod a metus eu, finibus sodales massa. Phasellus non ipsum sit amet nisl auctor lobortis eu ac turpis. Suspendisse vehicula nunc sed metus scelerisque, id faucibus neque hendrerit. Nunc ac mi ullamcorper, sagittis risus posuere, ultricies lacus. Sed fringilla enim ac ligula luctus, ac convallis nunc tincidunt. Nullam non augue sit amet massa semper molestie. Proin porta justo porttitor, ultrices mi et, sodales velit. Donec eleifend tincidunt volutpat.
                    </p>
                </div>
            </div>

            <div id="article-add" class="tab-pane fade">
                <h2>Articles <small>Add New Article</small></h2>

                <?php echo $data->formInput('Title', 'title', 'text', 'Name of Article', ''); ?>

                <?php
                $categories = array();

                $category            = new stdClass();
                $category->text      = 'Technology';
                $category->value     = 'tech';
                $category->selected  = '';
                array_push($categories, $category);

                $category            = new stdClass();
                $category->text      = 'Sports';
                $category->value     = 'sports';
                $category->selected  = '';
                array_push($categories, $category);

                $category            = new stdClass();
                $category->text      = 'Health & Fitness';
                $category->value     = 'health';
                $category->selected  = '';
                array_push($categories, $category);
                ?>
                <?php echo $data->formSelect('Category', 'category', $categories); ?>

                <?php echo $data->formTextarea('Content', 'content', 'Content of Article', '', 10); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Submit</button>
            </div>

            <div id="article-edit" class="tab-pane fade">
                <h2>Articles <small>Edit/Remove Article</small></h2>

                <?php
                $articles = array();

                $article            = new stdClass();
                $article->text      = 'Welcome To My Blog!';
                $article->value     = '1';
                $article->selected  = '';
                array_push($articles, $article);

                $article            = new stdClass();
                $article->text      = 'What I ate today!';
                $article->value     = '2';
                $article->selected  = '';
                array_push($articles, $article);

                $article            = new stdClass();
                $article->text      = 'Lets Talk Code!';
                $article->value     = '3';
                $article->selected  = '';
                array_push($articles, $article);

                ?>
                <?php echo $data->formSelect('Article', 'article', $articles); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
            </div>

            <div id="category-add" class="tab-pane fade">
                <h2>Categories <small>Add New Categories</small></h2>

                <?php echo $data->formInput('Name', 'name', 'text', 'Name of Category', ''); ?>

                <?php echo $data->formInput('Meta Tags', 'meta-tags', 'text', 'Ex. cars,sports,games', ''); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Submit</button>
            </div>

            <div id="category-edit" class="tab-pane fade">
                <h2>Categories <small>Edit/Remove Categories</small></h2>

                <?php
                $articles = array();

                $article            = new stdClass();
                $article->text      = 'Welcome To My Blog!';
                $article->value     = '1';
                $article->selected  = '';
                array_push($articles, $article);

                $article            = new stdClass();
                $article->text      = 'What I ate today!';
                $article->value     = '2';
                $article->selected  = '';
                array_push($articles, $article);

                $article            = new stdClass();
                $article->text      = 'Lets Talk Code!';
                $article->value     = '3';
                $article->selected  = '';
                array_push($articles, $article);

                ?>
                <?php echo $data->formSelect('Article', 'article', $articles); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
            </div>

            <div id="social-facebook" class="tab-pane fade">
                <h2>Social Networking <small>Facebook Settings</small></h2>

                <?php echo $data->formInput('Token', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Secret Key', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Username', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Password', 'password', 'text', '', ''); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
            </div>

            <div id="social-twitter" class="tab-pane fade">
                <h2>Social Networking <small>Twitter Settings</small></h2>

                <?php echo $data->formInput('Token', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Secret Key', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Username', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Password', 'password', 'text', '', ''); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
            </div>

            <div id="social-linkedin" class="tab-pane fade">
                <h2>Social Networking <small>Linkedin Settings</small></h2>

                <?php echo $data->formInput('Token', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Secret Key', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Username', 'name', 'text', '', ''); ?>

                <?php echo $data->formInput('Password', 'password', 'text', '', ''); ?>

                <button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
            </div>
        </div>
    </div>
</div>