<?php $secondaryArticles = FALSE; ?>
<?php $secondaryIndex = 0; ?>
<?php $isSecondaryRowFull = FALSE; ?>

<?php if ( count($articles) > 1 ) { ?>
    <?php $secondaryArticles = TRUE; ?>
<?php } ?>

<?php foreach( $articles as $index => $article ) { ?>
    <?php if ( $index == 0 ) { ?>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><?php echo $article->title; ?></h3>
                    </div>

                    <div class="panel-body">
                        <?php echo $article->content; ?>
                    </div>

                    <div class="panel-footer">
                        <div class="pull-left" style="vertical-align: middle; height:30px; line-height:30px;">
                            <i>Posted on <?php echo $article->dateAdded; ?></i>
                        </div>

                        <div class="pull-right">
                            <a href="<?php echo SITE_URL . 'category/' . strtolower($article->category); ?>" class="btn btn-sm btn-primary"><i class="<?php echo $article->icon; ?>"></i> <i><?php echo $article->category; ?></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    <?php } else if ( $index > 0 ) { ?>
        <?php if ( $secondaryIndex == 0 || $isSecondaryRowFull == TRUE ) { ?>
            <?php $isSecondaryRowFull = FALSE; ?>
            <?php $secondaryIndex = 0; ?>
            <div class="row">
        <?php } ?>

        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><?php echo $article->title; ?></h3>
                </div>

                <div class="panel-body">
                    <?php echo $article->content; ?>
                </div>

                <div class="panel-footer">
                    <div class="pull-left" style="vertical-align: middle; height:30px; line-height:30px;">
                        <i>Posted on <?php echo $article->dateAdded; ?></i>
                    </div>

                    <div class="pull-right">
                        <a href="<?php echo SITE_URL . 'category/' . strtolower($article->category); ?>" class="btn btn-sm btn-primary"><i class="<?php echo $article->icon; ?>"></i> <i><?php echo $article->category; ?></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <?php $secondaryIndex++; ?>

        <?php if ( $secondaryIndex == 3 ) { ?>
            <?php $isSecondaryRowFull = TRUE; ?>
            </div>
        <?php } ?>
    <?php } ?>
<?php } ?>

<?php if ( $secondaryArticles == TRUE && $isSecondaryRowFull == FALSE ) { ?>
    </div>
<?php } ?>