<?php if ( count($categories) > 0 ) { ?>
    <div class="well well-sm">
        <div style="border-bottom:#ddd solid 1px; margin-bottom:15px; padding-bottom:5px; font-size:16px;">Categories</div>

        <ul class="list-group">
            <?php foreach( $categories as $category ) { ?>
                <a class="list-group-item">
                    <i class="fa fa-folder-open"></i>&nbsp;<?php echo $category->name; ?>
                    <span class="badge"><?php echo $category->numOfArticles; ?></span>
                </a>
            <?php } ?>
        </ul>
    </div>
<?php } ?>