<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            <?php if ( $this->alert) { echo $this->alert->getHtml(); } ?>

            <div class="row">
                <?php foreach( $articles as $article ) { ?>
                    <div class="col-xs-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><?php echo $article->title; ?></h3>
                            </div>
                            <div class="panel-body">
                                <?php echo $article->content; ?>
                            </div>
                            <div class="panel-footer">
                                <?php echo $article->category; ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>