<div id="content" class="container-fluid" style="background-color:#fff;">
    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            <div class="row">
                <?php if ( isset($this->alert) ) { ?>
                    <div class="alert alert-<?php echo $this->alert->type; ?> alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><?php echo $this->alert->title; ?></strong> <span><?php echo $this->alert->message; ?></span>
                    </div>
                <?php } ?>
            </div>

            <div class="row">
                <div class="col-xs-9">
                    <?php include 'articles.html'; ?>
                </div>

                <div class="col-xs-3">
                    <?php include 'categories.html'; ?>
                    <?php include 'archives.html'; ?>
                </div>
            </div>
        </div>
    </div>
</div>