<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-push-1 col-xs-12">
            <?php if ( $this->alert) { echo $this->alert->getHtml(); } ?>

            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <?php include 'articles.html'; ?>
                </div>

                <div class="col-sm-3 col-xs-12">
                    <?php include 'categories.html'; ?>
                    <?php include 'archives.html'; ?>
                </div>
            </div>
        </div>
    </div>
</div>