<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            <?php if ( $this->alert) { echo $this->alert->getHtml(); } ?>

            <div class="row">
                <div class="col-xs-9">
                    <?php include 'articles.html'; ?>
                </div>

                <div class="col-xs-3">
                    <?php include 'categories.html'; ?>
                    <?php include 'archives.html'; ?>
                </div>
            </div>
        </div>
    </div>
</div>