            <div id="footer" class="container-fluid" style="background-color:black;">
                <div class="row bg-primary" style="height:30px; line-height:30px;">
                    <div class="col-xs-12 text-center">
                        <span style="vertical-align:middle;">
                            <b>© 2016 Framework Basic  All Rights Reserved.</b>
                        </span>
                    </div>
                </div>

                <div class="row" style="height:170px;">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-2 text-center" style="height:170px; display: flex; justify-content: center;flex-direction: column;">
                        <span>
                            <i class="fa fa-pencil" style="font-size:150px;"></i>
                        </span>
                    </div>

                    <div class="col-xs-6 text-center" style="height:170px; display: flex; justify-content: center;flex-direction: column;">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut sollicitudin nulla. Phasellus nec gravida leo, non dignissim quam. Nulla egestas nibh sed elit dapibus tempus. Curabitur aliquam, mi ac ullamcorper suscipit, est libero congue arcu, nec varius quam velit ultrices ante. Curabitur tristique enim nec purus dignissim, id egestas massa tincidunt. Curabitur ultricies pretium sapien sed venenatis. Aenean vel diam ac arcu fermentum malesuada. Nullam a tellus vel nibh gravida condimentum.
                        </span>
                    </div>

                    <div class="col-xs-2 text-center" style="height:170px; display: flex; justify-content: center;flex-direction: column;">
                        <span>
                            <a href="#"><i class="fa fa-linkedin-square" style="font-size:52px; margin-left:5px; margin-right:5px;"></i></a>
                            <a href="#"><i class="fa fa-twitter-square" style="font-size:52px; margin-left:5px; margin-right:5px;"></i></a>
                            <a href="#"><i class="fa fa-facebook-square" style="font-size:52px; margin-left:5px; margin-right:5px;"></i></a>
                        </span>
                    </div>

                    <div class="col-xs-1"></div>
                </div>
            </div>

            <a id="back-to-top" href="#" class="btn btn-primary btn" role="button" title="Return to Top" data-toggle="tooltip" data-placement="left">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>
    </body>
</html>
