            <div id="footer" class="container-fluid">
                <div class="row copyright-row">
                    <div class="col-xs-12 text-center">
                        <div>
                            © 2016 Framework Basic  All Rights Reserved.
                        </div>
                    </div>
                </div>

                <div class="row content-row">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-2 text-center">
                        <span>
                            <i class="fa fa-windows" style="font-size:150px;"></i>
                        </span>
                    </div>

                    <div class="col-xs-6 text-center">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut sollicitudin nulla. Phasellus nec gravida leo, non dignissim quam. Nulla egestas nibh sed elit dapibus tempus. Curabitur aliquam, mi ac ullamcorper suscipit, est libero congue arcu, nec varius quam velit ultrices ante. Curabitur tristique enim nec purus dignissim, id egestas massa tincidunt. Curabitur ultricies pretium sapien sed venenatis. Aenean vel diam ac arcu fermentum malesuada. Nullam a tellus vel nibh gravida condimentum.
                        </span>
                    </div>

                    <div class="col-xs-2 text-center">
                        <span>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                        </span>
                        <span><b>Follow Us!</b></span>
                    </div>

                    <div class="col-xs-1"></div>
                </div>
            </div>

            <a id="back-to-top" href="#" class="btn btn-primary btn" role="button" title="Return to Top" data-toggle="tooltip" data-placement="left">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </body>
</html>
