<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            <?php if ( $this->alert) { echo $this->alert->getHtml(); } ?>

            <div class="row">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-right"><h3 class="panel-title">RIFT Progress <small>http://www.topofrift.com</small></h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices erat a lectus vestibulum, ac viverra velit ultrices. Vestibulum lacus tortor, finibus non dui non, posuere placerat enim. Sed ac fringilla velit. Phasellus non nunc ut leo facilisis auctor. Aliquam ac diam ipsum. Donec eget nunc lorem. In erat sapien, suscipit ut felis sed, rutrum vulputate eros. Nullam gravida justo vel arcu euismod, a molestie tellus auctor. Sed at nisl sagittis, porta mauris eget, tincidunt lorem. Nam magna erat, hendrerit sed egestas quis, pharetra vitae dolor.
                                </div>
                                <div class="col-xs-4 text-center">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <i class="fa fa-envelope" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-pencil" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-bank" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-cloud" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a style="background-image: none; color:#337ab7;" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a style="background-image: none; color:#337ab7;" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#">PHP 5.6 <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">jQuery <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">Bootstrap <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">mySQL <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">HTML5/CSS3 <span class="badge"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading text-left"><h3 class="panel-title">WildStar Progress <small>http://www.wildstar-progress.com</small></h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel2" data-slide-to="1"></li>
                                            <li data-target="#myCarousel2" data-slide-to="2"></li>
                                            <li data-target="#myCarousel2" data-slide-to="3"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <i class="fa fa-envelope" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-pencil" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-bank" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-cloud" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a style="background-image: none; color:#337ab7;" class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a style="background-image: none; color:#337ab7;" class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices erat a lectus vestibulum, ac viverra velit ultrices. Vestibulum lacus tortor, finibus non dui non, posuere placerat enim. Sed ac fringilla velit. Phasellus non nunc ut leo facilisis auctor. Aliquam ac diam ipsum. Donec eget nunc lorem. In erat sapien, suscipit ut felis sed, rutrum vulputate eros. Nullam gravida justo vel arcu euismod, a molestie tellus auctor. Sed at nisl sagittis, porta mauris eget, tincidunt lorem. Nam magna erat, hendrerit sed egestas quis, pharetra vitae dolor.
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#">PHP 5.6 <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">jQuery <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">Bootstrap <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">mySQL <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">HTML5/CSS3 <span class="badge"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading text-right"><h3 class="panel-title">Trinity: Online Gaming Organization <small>http://www.trinityguild.org</small></h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices erat a lectus vestibulum, ac viverra velit ultrices. Vestibulum lacus tortor, finibus non dui non, posuere placerat enim. Sed ac fringilla velit. Phasellus non nunc ut leo facilisis auctor. Aliquam ac diam ipsum. Donec eget nunc lorem. In erat sapien, suscipit ut felis sed, rutrum vulputate eros. Nullam gravida justo vel arcu euismod, a molestie tellus auctor. Sed at nisl sagittis, porta mauris eget, tincidunt lorem. Nam magna erat, hendrerit sed egestas quis, pharetra vitae dolor.
                                </div>
                                <div class="col-xs-4 text-center">
                                    <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel3" data-slide-to="1"></li>
                                            <li data-target="#myCarousel3" data-slide-to="2"></li>
                                            <li data-target="#myCarousel3" data-slide-to="3"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <i class="fa fa-envelope" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-pencil" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-bank" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>

                                            <div class="item">
                                                <i class="fa fa-cloud" aria-hidden="true" style="font-size:200px;"></i>
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a style="background-image: none; color:#337ab7;" class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a style="background-image: none; color:#337ab7;" class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#">PHP 5.6 <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">jQuery <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">Bootstrap <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">mySQL <span class="badge"></span></a></li>
                                <li role="presentation" class="active"><a href="#">HTML5/CSS3 <span class="badge"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>