<form action="<?php echo SITE_URL . 'userpanel'; ?>" method="POST">
    <div class="well well-sm text-center">
        Are you sure you want to deactivate your account? Your content and posts will not be deleted, but the only way to regain access is through the "Forgot Password" method.
    </div>

    <div class="row">
        <div class="col-xs-4 text-center">
            <span class="badge">
                <i class="fa fa-envelope"></i>
            </span>

            <br>

            <b><i>Emails & Notifications Turned Off</i></b>
        </div>

        <div class="col-xs-4 text-center">
            <span class="badge">
                <i class="fa fa-power-off"></i>
            </span>

            <br>

            <b><i>Account Login Disabled</i></b>
        </div>

        <div class="col-xs-4 text-center">
            <span class="badge">
                <i class="fa fa-comments"></i>
            </span>

            <br>

            <b><i>Posts & Comments Saved</i></b>
        </div>
    </div>

    <br>

    <div class="text-center">
        <button type="submit" name="form" value="deactivate" class="btn btn-danger"><i class="fa fa-close" aria-hidden="true"></i> Confirm Deactivation</button>
    </div>
</form>